body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #2f2f2f;
    /* background: linear-gradient(to bottom, #a9a9a9, #2f2f2f);  */
    color: #333; /* Text color */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    text-align: center;
    margin: 20px 0;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 1000px;
    width: 100%;
}
.grid-item {
    background-color: #000;
    border: 2px solid linear-gradient(to bottom, #fffa65, #ff6200);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
}
.grid-item img {
    width: 100%; 
    height: auto;
}
.grid-item .info {
    padding: 10px;
}